<div class="cssload-bell" *ngIf="loading">
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
</div>
<mat-card class="col-md-8 container" *ngIf="!loading">
  <mat-toolbar class="mat-primary">
    <h1>News List</h1>
  </mat-toolbar>
  <mat-card-content class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Created Date</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of news">
          <td>{{n.id}}</td>
          <td>{{n.title}}</td>
          <td>{{n.created}}</td>
          <td>
            <a mat-button [routerLink]="['/Admin/EditNews/'+n.id]">Edit</a>
            <button mat-button color="warn" (click)="newsId = n.id" data-toggle="modal" data-target="#exampleModalCenter">Remove</button>
          </td>

        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Warning!</h5>

      </div>
      <div class="modal-body">
        <p>Are you sure to remove this news?</p>
      </div>
      <div class="modal-footer">
        <button mat-button color="warn" (click)="Remove()">Yes</button>
        <button mat-button class="btn btn-secondary" data-dismiss="modal">No!</button>
      </div>
    </div>
  </div>
</div>
