<div class="logo">
  <p>Management</p>
</div>
<mat-list style="padding: 0;padding-bottom: 10px !important;">

  <a mat-list-item (click)="collpaseAll()" [routerLinkActive]='["link-active"]' [routerLink]='["/Admin/Home"]' matRipple
    [matRippleColor]="'#d9d9d922'" role="listitem">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item (click)="collpaseAll()" [routerLinkActive]='["link-active"]' [routerLink]='["/Admin/ImportData"]'
    matRipple [matRippleColor]="'#d9d9d922'" role="listitem">
    <mat-icon>data_usage</mat-icon>
    <span>Import Data</span>
  </a>

  <a mat-list-item (click)="MainInfo=!MainInfo" matRipple [matRippleColor]="'#d9d9d922'" role="listitem">
    <mat-icon>notes</mat-icon>
    <span>Sales</span>
    <mat-icon class="expand" *ngIf="!MainInfo">expand_more</mat-icon>
    <mat-icon class="expand" *ngIf="MainInfo">expand_less</mat-icon>
  </a>
  <mat-nav-list mat-list-item class="expanding" role="list" *ngIf="MainInfo">
    <a mat-list-item matRipple [matRippleColor]="'#d9d9d922'" [routerLinkActive]='["link-active"]'
      [routerLink]='["/Admin/AddSale"]'>
      <mat-icon>add</mat-icon>
      <span>Add Sale</span>
    </a>
    <a mat-list-item matRipple [matRippleColor]="'#d9d9d922'" [routerLinkActive]='["link-active"]'
      [routerLink]='["/Admin/SaleList"]'>
      <mat-icon>list_alt</mat-icon>
      <span>Sale List</span>
    </a>
  </mat-nav-list>
</mat-list>
