<div class="cssload-bell" *ngIf="loading">
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
</div>
<mat-card class="col-md-8 container" *ngIf="!loading">
  <mat-toolbar class="mat-primary">
    <h1>Edit News</h1>
  </mat-toolbar>
  <mat-card-content class="card-body">
    <form #f="ngForm">
      <div class="form-group">
        <mat-form-field class="col-md-8">
          <input matInput placeholder="Title" [(ngModel)]="news.title" name="title" #new required>
          <mat-error *ngIf="!new.valid">
            Title Is Required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="col-md-12">
          <textarea matInput placeholder="News Content" style="height:300px" [(ngModel)]="news.content" name="content" #new required>
</textarea>
          <mat-error *ngIf="!new.valid">
            News Content Is Required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!f.valid" style="float:right;margin-top:5%;" (click)="Save()" class="btn-primary">Save</button>
  </mat-card-actions>
</mat-card>
