<div class="cssload-bell" *ngIf="loading">
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
  <div class="cssload-circle">
    <div class="cssload-inner"></div>
  </div>
</div>
<mat-card class="col-md-8 container" *ngIf="!loading">
  <mat-toolbar class="mat-primary">
    <h1>Edit Sale Number {{sale.Id}}</h1>
  </mat-toolbar>
  <mat-card-content class="card-body">
      <form #f="ngForm">
          <div class="form-group">
            <mat-form-field class="col-md-8">
              <input type="text" matInput placeholder="User Name" #userNames [(ngModel)]="sale.userName" name="userName"
                required [matAutocomplete]="usernameauto" (input)="UserChange();">
              <mat-autocomplete #usernameauto="matAutocomplete">
                <mat-option *ngFor="let option of usernames" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!userNames.valid">
                User Name Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="col-md-8">
              <input type="text" matInput placeholder="Product" #productss [(ngModel)]="product" name="product" required
                [matAutocomplete]="productauto" (input)="ProductChange();">
              <mat-autocomplete #productauto="matAutocomplete">
                <mat-option *ngFor="let option of products" [value]="option.productId + ' - ' + option.productName">
                  {{option.productId + ' - ' + option.productName}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!productss.valid">
                Product Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="col-md-8">
              <input type="text" matInput placeholder="City Name" #cityNames [(ngModel)]="sale.cityName" name="cityName"
                required [matAutocomplete]="citynameauto" (input)="CityChange();">
              <mat-autocomplete #citynameauto="matAutocomplete">
                <mat-option *ngFor="let option of cities" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!cityNames.valid">
                City Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="col-md-8">
              <input type="number" matInput placeholder="Price" #prices [(ngModel)]="sale.price" name="price" required >
              <mat-error *ngIf="!prices.valid">
                Price Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!f.valid" style="float:right;margin-top:5%;" (click)="Save()"
      class="btn-primary">Save</button>
  </mat-card-actions>
</mat-card>
